.naslov {color: #800000; 
	font-style: italic; 
	font-size: 40px; 
	padding-top: 80px; 
	padding-left: 300px;}

.podnaslov {color: #800000; font-style: italic; font-size: 20px;}

body {background-image:url(kuba.jpg); 
	  background-size: cover;
	  background-position: center;
	  background-attachment: fixed;
	  background-repeat: no-repeat
	}

.naslov1 {color: #800000; 
	font-style: italic;
	 font-size: 40px; 
	 padding-top: 80px; 
	 padding-left: 300px;}
.podnaslov1 {color: #800000; font-style: italic; font-size: 20px;}	 

.naslov2 {color: #800000; 
	font-style: italic; 
	font-size: 40px; padding-top: 80px; padding-left: 300px; }

.podnaslov2 {color: #800000; font-style: italic; font-size: 20px;}	

.topnav {background-image:url(carstvo.jpg); }

.topnav a{
	float: left; 
	color: #1a0000; 
	text-align: center;
	padding: 200px;
 	padding-top: 30px;
	text-decoration: none; 
	font-size: 25px;
	font-style: italic;
}


